{% extends "base.html.twig" %}

{% block body %}
<html>
    <head>
        <title>Page Movie</title>
    </head>
    <body>
        <h1>Bienvenu dans la page du film</h1>
        <a href="{{ path('app_main') }}" class="btn btn-sm btn-primary mt-4">Retourner à la liste des films</a>
    </body>
</html>
{% endblock %}